.navbar::after{
  content: '';
  background-image: linear-gradient(to right, $primary 50%, $secondary 50%);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  @media screen and (max-width:767px){
    top: 72px;
  }
}



.logo-link{
  position: relative;
  width: 174.42px;
  height: 42px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  display: block;

  // 圖片取代文字技巧
  text-indent: 101%; // 設定文字首行縮排
  overflow: hidden;
  white-space: nowrap;
  @media screen and (max-width:767px){
    width: 24px;
    height: 24px;
    background-image: url("../images/logo2.svg");
  }
}

.nav-item{
  .material-icons{
    margin-right: 6px;
  }
}

.navbar-toggler{
  padding: 0;
}

.footer{
  background-color: #1A1A1A;
  color: #909090;
  text-align: center;
  @include font-family-monospace;
  padding: 16px;
  @include media-breakpoint-up(md) { 
    padding: 24px;
  }
}

// logIn
.modal-header{
  border-bottom: none;
}

.modal-header,
.modal-body{
  padding: 0;
  width: 288px;
  @include media-breakpoint-up(md) { 
    width: 361px;
  }
}

.modal-content{
  color: $light;
  padding: 40px 24px;
  @include media-breakpoint-up(md) { 
    padding: 24px 150px 48px;
  }
}

.form-label{
  margin-bottom: 6px;
}

.form-control{
  padding: 0.5rem 1rem;
}

.lines-style::before,
.lines-style::after{
  content: '';
  position: absolute;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: $light;
  @include media-breakpoint-up(md) { 
    width: 104px;
  }
}

.lines-style::before{
  left: 0px;
}

.lines-style::after{
  right: 0px;
}

.modal-dialog{
  max-width: 636px;
}

.logIn-img{
  width: 24px;
  position: absolute;
  left: 32px;
}

.btn-close{
  position: absolute;
  right: 24px;
  top: 24px;
}