// class & class-detail 
.class-content{
    background: #2D2D2D;
    border-radius: 24px;
}


// class
.class{
    &-body{
        max-width: 576px;
    }
}


// class-detail
.teacher-info-dtls{
    border-bottom: 1px solid #C1C1C1;
}

.title-style{
    border-left: 2px solid $primary;
    padding-left: 8px;
}

.class-item::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background-color: #62DB54;
}

.price-content{
    border: 1px solid #FFFFFF;
    padding: 40px 24px;
    background-color: #2D2D2D;
}

.price-item:not(:last-child){
    border-bottom: 1px solid #FFFFFF;
}

.sticky-lg-top{
    top: 132px;
}

@include media-breakpoint-down(lg) { 
    .relative-lg-down{
        position: relative;
        top: 0px;
    }
}
