.text-gradient{  // 共用
    @include text-gradient;
}

.sub-title{  // 共用
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: $primary;
        top: 145%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.border__transparent--hover{  // 服務內容 & 課程推薦
    border: 1px solid transparent;
}

.border__transparent--hover:hover{ // 服務內容 & 課程推薦
    background-color: #202020;
    border: 1px solid $primary;
    opacity: 1;
}

.br8{
    border-radius: 8px;
}

.br24{
    border-radius: 24px;
}

.z-index-1{
    z-index: 1;
}

.font-monospace{
    @include font-family-monospace;
}

.hover-bg_primary:hover{
    background-color: $primary;
}

// 輪播圖 預設
.swiper {
    width: 100%;
    height: 100%;
}


.sticky-top{
    z-index: 1021;
}





// banner
.banner{
    height: calc( 100vh - 92px );
    width: 100%;
}

.banner__img{
    background-image: url("../images/bg_home_mobile.jpg");
    height: calc( 100vh - 72px );
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include media-breakpoint-up(md) { // 最小寬度
        background-image: url("../images/bg_home.jpg");
        height: calc( 100vh - 92px );
    }
}

.white-block{
    width: 10px;
    height: 10px;
    background: #fff;
}

.banner{
    @include media-breakpoint-up(md) { // 最小寬度
        h2{
            font-size: 48px !important;
        }
        p{
            font-size: 18px !important;
        }
    }
}



// 服務內容
.icon-size50{
    @include icon-size(50px);
}

.list__icon--hover:hover .material-icons{
    @include text-gradient;
}

.sub-title.left-line{ // 服務內容
    &::after{ 
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: $primary;
        top: 118%;
        left: 50%;
        transform: translateX(-50%);
        @include media-breakpoint-up(lg) { // 最小寬度
            left: 0;
            transform: translateX(0);
        }
    }
}

.bg-md-down-darkGray{
    @include media-breakpoint-down(md) { // 最大寬度
        background-color: #202020;
    }
}




// 上課流程
.num-style{
    top: -18%;
    left: 40px;
}

// 課程種類
.course-style{
    background:  $dark;
    color: #fff;
    font-weight: bold;
    width: auto !important;
    border: 1px solid #fff;
    border-radius: 8px;
}


// 課程推薦
.box-100{ 
    @include box(100px,100px)
}

.card-body{
    border-bottom: 1px solid $light;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 3;
}

.btn-gradient{
    background: -webkit-gradient(linear, left top, right top, from(#09abf6), to(#62db54));
    background: -o-linear-gradient(left, #09abf6, #62db54);
    background: linear-gradient(to right, #09abf6, #62db54);
    color: #fff;
}

.btn-gradient-0deg {
    background: #62db54;
    background: -webkit-gradient(linear, left bottom, left top, from(#62db54), to(#09acf5));
    background: -o-linear-gradient(bottom, #62db54 0%, #09acf5 100%);
    background: linear-gradient(0deg, #62db54 0%, #09acf5 100%);
}

.displayNone{
    display: none;
    @include media-breakpoint-up(xxl) { 
        display: block; 
    }
}


.class-card:hover .stretched-link{
    color: $primary !important;
}


// 課程優點
.advantage_bg{
    height: 615px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //@include media-breakpoint-down(sm){
    //    height: 263px;
    //}
    @include media-breakpoint-down(md){
        height: 263px;
    }
    .material-icons{
        @include media-breakpoint-down(md){
            color: $primary;
            z-index: 1;
        }
    }
}

.mask-darkBlack{
    background-color: $darkBlack;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @include media-breakpoint-down(md){
        opacity: 0.8;
    }
}

.advantage_bg1{
    background-image: url("../images/info01.jpg");
}
.advantage_bg2{
    background-image: url("../images/info02.jpg");
}
.advantage_bg3{
    background-image: url("../images/info03.jpg");
}
.advantage_bg4{
    background-image: url("../images/info04.jpg");
}

.advantage_bg:hover{
    .sub-title.left-whiteLine{
        &::after{
            width: 70px;
            background-color: $primary;
        }
    }
    .material-icons{
        color: $primary;
    }
    .mask-darkBlack{
        opacity: 0;
    }
    .opacity-style{
        opacity: 1;
    }
}

.sub-title.left-whiteLine{
    &::after{
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        background-color: $primary;
        top: 118%;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        @include media-breakpoint-up(md) { 
            background-color: #fff;
        }
        @include media-breakpoint-up(lg) { 
            left: 0;
            transform: translateX(0);
        }
    }
}

.opacity-style{
    @include media-breakpoint-up(md) { 
        &.opacity-style{
            opacity: 0.7;
        }
    }
    @include media-breakpoint-up(lg){
        &.opacity-style{
            opacity: 0.5;
        }
    }
}


// 文章分享
.article-img{
    max-width: 100%;
    height: auto;
}

.square-rounded {
    @include media-breakpoint-up(lg) { 
        width: 32px;
        height: 32px;
        display: none;
        &-topLeft {
          border-top: 2px solid $primary;
          border-left: 2px solid $primary;
          border-top-left-radius: 10px;
        }
        &-topRight {
          border-top: 2px solid $primary;
          border-right: 2px solid $primary;
          border-top-right-radius: 10px;
        }
        &-bottomLeft {
          border-bottom: 2px solid $primary;
          border-left: 2px solid $primary;
          border-bottom-left-radius: 10px;
        }
        &-bottomRight {
          border-bottom: 2px solid $primary;
          border-right: 2px solid $primary;
          border-bottom-right-radius: 10px;
        }
    }
}


.card.article{
    &:hover {
        a{
            color: $secondary !important;
        }
    }
    @include media-breakpoint-up(md){
        &:hover {
            .square-rounded {
              display: block;
            }
        }
    }
}

// 評價
.bg-feedback{
    background-image: url("../images/bg_share.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.feedback-content{
    max-width: 925px;
    &-item{
        position: relative;
        padding-bottom: 32px;
        @include media-breakpoint-up(lg) { 
            padding-bottom: 52px;
        }
    }
    .item-img{
        @include media-breakpoint-up(lg) { 
            width: 525px;
            height: 381px;
        }
        @include media-breakpoint-down(lg) { 
            padding-right: 10px;
        }
        width: 100%;
        height: 381px;
        margin-left: 10px;
        img{
            border-radius: 24px;
            position: relative;
            z-index: 1;
            width: inherit;
            height: inherit;
        }
        &::after{
            content: "";
            position: absolute;
            width: 99%;
            height: 381px;
            border: 1px solid #7C7E77;
            border-radius: 24px;
            z-index: 0;
            top: 10px;
            left: 0;
        }
        @include media-breakpoint-up(lg) { 
            &::after{
                width: 525px;
            }
        }
    }
    .item-description{
        padding: 32px;
        border-radius: 24px 24px 24px 0;
        position: relative;
        margin-top: 70px;
        @include media-breakpoint-up(lg) { 
            width: 416px;
            position: absolute;
            right: 0;
            bottom: 6px;
            z-index: 2;
        }
        img{
            border-radius: 50%;
            position: absolute;
            right: 32px;
            top: -50px;
        }
        .text{
            text-align: left;
            color: #494755;
        }
    }
}



.slider__controller{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include media-breakpoint-up(lg) { 
        justify-content: unset;
        width: 525px;
        position: absolute;
        left: 50%;
        top: 400px;
        transform: translateX(-50%);
        z-index: 2;
        margin-bottom: 80px;
        .material-icons-prev{
            margin-right: 10px;
        }
        .material-icons-next{
            margin-left: 10px;
        }
    }
}


.swiper-pagination-bullet{
    background: $primary;
    margin: 0 8px !important;
    &-active{
        width: 16px;
        border-radius: 100px;
    }
}

// 預約
.book-area{
    background-color: #202020;
    border-radius: 24px;
    @include media-breakpoint-up(md) { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text{
            display: flex;
            align-items: center;
        }
    }
}

.book-icons{
    font-size: 103px;
    line-height: 80px;
}

