@mixin text-gradient{
    background: linear-gradient(180deg, #09ACF5, #62DB54);
    background-clip: text;
    color: transparent;
}

@mixin icon-size($s) {
    font-size: $s;
}

@mixin box($w,$h){
    width: $w;
    height: $h;
}

@mixin font-family-monospace {
    font-family: var(--bs-font-monospace) !important;
}




